---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE, NAV } from '../consts'
---

<header class="navbar bg-transparent fixed top-0 inset-x-0 z-10">
  <div class="navbar-start">
    <a href="/" class="btn btn-ghost normal-case text-xl">{SITE_TITLE}</a>
  </div>
  <nav class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      {NAV.map(nav => (
        <li>
          {nav.items ?
            <details>
              <summary>{nav.text}</summary>
              <ul class="p-2">
                {nav.items.map(item => (
                  <li>
                    <HeaderLink href={item.link}>{item.text}</HeaderLink>
                  </li>
                ))}
              </ul>
            </details> :
            <HeaderLink href={nav.link}>{nav.text}</HeaderLink>}
        </li>
      ))}
    </ul>
  </nav>
  <div class="navbar-end">
    <icon-mdi-account />
  </div>
</header>
